# Node modules
/node_modules/

# React Native
# React Native specific build directories
/android/build/
/ios/build/

# macOS
.DS_Store

# npm log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
.expo-shared/

# Android Studio
.idea/

# React Native packager
packager-info.json

# Watchman
.watchmanconfig

# VSCode settings
.vscode/

# Other temporary files
*.swp
*.swo

# Ignore test output
/coverage/
